<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.co.adamgovier" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>bolus-calc</name>
    <description>
        Open source bolus insulin calculator.
    </description>
    <author email="dev@adamgovier.co.uk" href="http://adamgovier.co.uk">
        Bolus Calculator developer.
    </author>
    <content src="index.html"/>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="android-minSdkVersion" value="23" />
    <preference name="android-targetSdkVersion" value="26" />
    <icon src="icon.png" width="64" height="64" />
</widget>
